body {
  background-color: #0A1C00;
  overflow-x:  hidden;
  margin: 0;
}
h1{
  color: #F8EFD7;
}

.menu {
  height: 6%;
  margin: 1%;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 20;
}
.logo{
  width: 18%;
  height: 18%;
}
.trash1{
  width: 60%;
  z-index: -3;
  position: absolute;
  left: -23em;
  top: 15em;
}
.trash2{
  width: 60%;
  z-index: -3;
  position: absolute;
  right: -30em;
  top: 15em;
}
.mt1{
  position: absolute;
  width: 100%;
  z-index: -2; 
}
.bird{
  height: auto;
  position: absolute;
  width: 35%;
  right: -5%;
  margin-top: -8.2%;
  z-index: 0;
}
.elep1{
  width: 60%;
}
.leo {
    width: 40%;
    right: 30%;
    top: 50%;
    margin-top: 25%;
    z-index: 10;
  }
.txt1 {
   width: 40%;
   margin-top:20%;
}
.scrD {
  width: 10%;
}
.arrow {
  width: 2%;
}
#navbar {
  position: absolute;
  left: -500px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: left 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
#navbar2 {
  position: absolute;
  right: -500px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: right 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar2 a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

