body {
  background-color: #0A1C00;
  overflow-x:  hidden;
  margin: 0;
}
h1{
  color: #F8EFD7;
}
section {
  height: 1080px;
  position: relative;
/*  box-sizing: border-box;*/
  margin: 0;
}
.menu {
  height: 6%;
  margin: 1%;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 20;
}
.khaoyai{
  margin-top: 2%;
}
.trash1{
  width: 60%;
  z-index: -3;
  position: absolute;
  left: -23em;
  top: 15em;
}
.trash2{
  width: 60%;
  z-index: -3;
  position: absolute;
  right: -30em;
  top: 15em;
}
.mt1{
  position: absolute;
  width: 100%;
  z-index: -2; 
}
.bird{
  height: auto;
  position: absolute;
  width: 35%;
  right: -5%;
  margin-top: -8.2%;
  z-index: 0;
}
.elep1{
  width: 60%;
}
.leo {
    width: 40%;
    right: 30%;
    top: 50%;
    margin-top: 25%;
    z-index: 10
  }
.txt1 {
   width: 40%;
   margin-top:20%;
}
.scrD {
  width: 10%;
}
.arrow {
  width: 2%;
}
#elep1 {
  position: absolute;
  left: -700px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: left 0.6s; /* Transition effect when sliding down (and up) */
}

#leo {
  position: absolute;
  left: 1100px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: left 0.6s; /* Transition effect when sliding down (and up) */
}
.text1 {
  width: 60%;
  z-index: -3;
  position: absolute;
  left: 14em;
  top: 0em;
}

.text2 {
  width: 35%;
  z-index: -1;
  position: absolute;
  left: 18em;
  top: 15em;
}

.map {
  width: 50%;
  z-index: -3;
  position: absolute;
  right: 0.3em;
  top: 9em;
}

.tiger2 {
  width: 35%;
  z-index: -5;
  position: absolute;
  left: 10em;
  bottom: 40em;
}

.monkey2 {
  width: 20%;
  z-index: -3;
  position: absolute;
  right: 0em;
  bottom: 48em;
}

.mt2 {
  height: auto;
  position: absolute;
  width: 100%;
  z-index: -3;
  bottom: 16em;
}

.mt3 {
  height: auto;
  position: absolute;
  width: 100%;
  z-index: -2;
  bottom: 10em;
}

.eleplant3 {
  width: 95%;
  z-index: -1;
  position: absolute;
  left: -23em;
  top: -45em;
}

.trash3 {
  width: 95%;
  z-index: -2;
  position: absolute;
  left: -52em;
  top: -18em;
}

.textp3 {
  width: 35%;
  z-index: -1;
  position: absolute;
  right: 4em;
  top: -7em;
}

.leopardp3 {
  width: 35%;
  z-index: -1;
  position: absolute;
  right: 0em;
  top: 1em;
  overflow-x: hidden;
}

.textp3-2 {
  width: 55%;
  z-index: -1;
  position: absolute;
  left: 9em;
  top: 20em;
}

.textp3-3 {
  width: 35%;
  z-index: -1;
  position: absolute;
  left: 9em;
  top: 28em;
}

.textp3-4 {
  width: 30%;
  z-index: -1;
  position: absolute;
  right: 24em;
  top: 29em;
}
.textp3-5 {
  width: 24%;
  z-index: -1;
  position: absolute;
  right: 24em;
  top: 36em;
}
.textp3-6 {
  width: 22%;
  z-index: -1;
  position: absolute;
  right: 24em;
  top: 41.5em;
}
.textp3-7 {
  width: 20%;
  z-index: -1;
  position: absolute;
  right: 24em;
  top: 47em;
}
.textp3-8 {
  width: 18%;
  z-index: -1;
  position: absolute;
  right: 24em;
  top: 52em;
}
.bluedeerp5 {
  width: 80%;
  z-index: -1;
  position: absolute;
  left: -35em;
  top: -30em;
}
.greenmoutainp5 {
  width: 53%;
  z-index: -2;
  position: absolute;
  left: -1em;
  top: -11em;
}
.trashp5 {
  width: 95%;
  z-index: -2;
  position: absolute;
  left: -23em;
  top: -3em;
}

.textp5-1 {
  width: 35%;
  z-index: -2;
  position: absolute;
  right: 9em;
  top: -10em;
}
.textp5-2 {
  width: 9%;
  z-index: -2;
  position: absolute;
  right: 12em;
  top: 4em;
}
.textp5-3 {
  width: 12%;
  z-index: -2;
  position: absolute;
  right: 10em;
  top: -1em;
}
.greenmountains5-1 {
  width: 100%;
  z-index: -4;
  position: absolute;
  left: -1em;
  top: 27em;
}
.deerp5-1 {
  width: 30%;
  z-index: 0;
  position: absolute;
  left: 3em;
  top: 35em;
}
.deerp5-2 {
  width: 30%;
  z-index: 0;
  position: absolute;
  left: 33em;
  top: 35em;
}
.deerp5-3 {
  width: 30%;
  z-index: 0;
  position: absolute;
  right: 3em;
  top: 35em;
}

.textp5-4 {
  width: 35%;
  z-index: -2;
  position: absolute;
  right: 38em;
  bottom: 5em;
}
.trashp5-2 {
  width: 100%;
  z-index: -3;
  position: absolute;
  right: 0em;
  bottom: -41em;
}
.greenmountainsp5-2 {
  width: 100%;
  z-index: -3;
  position: absolute;
  right: 0em;
  bottom: -54em;
}


